.btnBleu{
    background-color: lightskyblue;   
    color: white;
}

.btnRouge{
    background-color: red;   
    color: white;
}

.btnJaune{
    background-color: goldenrod;   
    color: white;
}

.btnRose{
    background-color: pink;   
    color: white;
}
